@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Roboto:wght@300&display=swap');
.employernav{
    padding: 0px;
    max-width: 100%;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2d2d2d;
    align-items: center;
    font-size: 14px;
    color: white;
    margin-top: 0px;
    font-family: 'roboto',sans-serif;
    margin-bottom: 0px;
}

.subnavdiv{
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    width: 100%;
    max-width: 1204px;
    margin: auto;
}

.pic{
    height: 22px;
    width: auto;
    margin-right: 10px;
    margin-top: -7px;
}

.subnav{
    width:fit-content;
    display:flex;
    flex-direction:row;
    gap:20px;
    align-items: center;
   padding-left:2%
}
.subnav2{
    width:fit-content;
    display:flex;
    flex-direction:row;
    gap:11px;
    align-items: center;
    padding-right:3%
}
.usericon2{
    width: fit-content;
    font-family: sans-serif;
    background-color: #2557a7;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    padding-inline: 16px;
    cursor: pointer;
    border-radius: 9px;
    margin-top: 3px;

}

.largediv3{
    text-align: center;
    padding: 29px;
    height: 59vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 13px;
    justify-content: center;
    margin: auto;
}
.sublargediv{
    display:flex;
    flex-direction:column;


}
.largeitalic{
    font-family: 'Noto Sans', sans-serif;
    font-size: 54px;
    color: #2d2d2d;
}
.largepic{
    width: 650px;
    height: 270px;

}
.largedivpostjob{
    padding: 19px;
    padding-inline: 20%;
    height: fit-content;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
    /* place-content: center; */
    background: #f3f2f1;
    text-align-last: center;
    margin: auto;
}
.postjobsubdiv{
    display:flex;
    font-size:25px;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    border-radius:10px;
    padding: 39px;
    background-color:white;
    align-items: center;
    gap: 18px;
}
.postjobsubdiv2{
    display:flex;
    flex-direction:column;
    width:100%;
    border-radius:10px;
    padding:20px;
    background-color:white;
    align-items: center;
}
.postjobpic{
    height:150px;   
}

.columndiv{
    display:flex;
    flex-direction:column;
    height:'fit-content';
    width: inherit;
    align-items: baseline;
    text-align-last: start;

}
.divrow{
    display:flex;
    flex-direction:row;
    align-items:center;

    gap:5px;
}
.colored-circle {
    border-radius: 50%;
    height: 5px;
    width: 5px;
  }
  .postjobsubdiv5{
    display:flex;
    flex-direction:row;
    align-self:center;
  }

  .postjobsubdivAlt {
    display: flex;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    align-items: center;
    gap: 18px;
}
.rowdiv{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 2000px;
}
.chatlogo{
    height:200px;
    width:auto
}
.chatroom{
    width: 600px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    height: 79vh;
    text-align: -webkit-center;
}
.chatlist{
    width: 300px;
    background: white;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    height: 79vh;
}

.notificationslargediv3{
    width: 96%;
    background: #fafafa;
    margin-top: 0px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    padding: 2%;
    place-content: center;
}
.inputchat {
    height: 72px;
    width: 96%;
    /* border-radius: 7px; */
    border: 1px #f8f8f8 solid;
    /* margin-left: 15px; */
    text-align: center;
    outline: none;
}
.chatroomscroll{
    height: 36vh;
    overflow-y: scroll;
    line-break: anywhere;
}
.inputdivchat{
    width: 96%;
}
.chatimage{
    height: 30px;
    border-radius: 61%;
}
.smallchatdivrow{
    margin-top: -14px;
}
.chatdivrow{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.smallparagraph{
    font-size: 12px;
    color: #818080;
    margin-top: 20.6px;
}
.boldchatparagraph{
    font-weight: 600;
    margin-top: 17px;
    font-size: 15px;
}
.chattext{
    margin-top: -10px;
    text-align: start;
}

.chatlistparagraph{
    margin-top: -10px;
    color: #5c5c5c;
}
.chatlistdiv{
    border-bottom: 1px solid #d9d9d9;
    padding-inline: 11px;
    cursor:pointer;
}
.chatlistdiv2{
    border-bottom: 1px solid #d9d9d9;
    padding-inline: 11px;
    cursor:pointer;
    background: #f4f3ff;
}